.recordings {
  margin-top: 16px;
  padding: 16px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: left;

  & .recordings-header {
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 33px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  & .recordings-footer {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 0.01em;

    &:hover {
      text-decoration: underline;
    }
  }

  & .recording {
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 24px;
    margin: 21px auto 0;
    padding: 16px 27px;
    max-width: 377px;
  }

  & a {
    text-decoration: none;
    color: inherit;
  }
}

/* the recordings block is hidden by default, displayed in code when relevant */
#recordings {
  display: none;
}
