* {
  -webkit-user-select: none;
  user-select: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input,
textarea {
  -webkit-user-select: text;
  user-select: text;
}

html {
  width: 100%;
  text-align: center;
  background: #3900b8;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  font-family: "Poppins", "Open Sans Pro", Arial, sans-serif;
  color: #f1f1f1;
  overflow: hidden;
}

#container {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

button {
  border: none;
  font: inherit;
}

.full-screen {
  height: 100vh;
}

.welcome {
  background-image: url("../images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  font-family: inherit;
  justify-content: space-between;
  min-height: 100%;
  position: relative;
}

.header {
  padding: 0 12px 0;
}

.talk-logo {
  --talk-logo-size: 122px;
  background-image: url("../images/talkLogo.svg");
  background-size: var(--talk-logo-size) var(--talk-logo-size);
  width: var(--talk-logo-size);
  height: var(--talk-logo-size);
  margin-top: calc(var(--talk-logo-size) / -2);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.section {
  width: 812px;
  padding-bottom: 36px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto 0;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(32px);
  border-radius: 24px;
}

@media only screen and (max-width: 812px) {
  .section {
    width: 100%;
  }
}

.join-call {
  margin: 122px auto 0;
}

.join-call-text {
  margin: 0 auto 36px;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 40px);
  width: 570px;
  z-index: 2;
}

@media only screen and (max-height: 600px) and (max-width: 600px) {
  .join-call-text {
    margin-bottom: 22px;
  }
}

.join-call-text-title {
  margin: 95px 0 0;
  font-size: 36px;
  font-weight: 600;
  line-height: 60px;
  color: #f0f2ff;
}

.join-call-text-description {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.04em;
  margin: 8px 0 0;
}

.footer-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #ffffff;
  margin: 20px 0 16px;
}

.footer-text a {
  text-decoration: underline;
  color: #ffffff;
}

.welcome-page-button {
  margin: 0 auto;
  width: 377px;
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(16px);
  border-radius: 48px;
  padding: 17px 30px 19px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;

  &:hover {
    background: rgba(255, 255, 255, 0.42);
  }

  &:active {
    background: rgba(255, 255, 255, 0.32);
  }
}

.welcome-page-button-loading {
  background: rgba(255, 255, 255, 0.32);
  color: rgba(255, 255, 255, 0.5);
  cursor: default;
  &:hover {
    background: rgba(255, 255, 255, 0.32);
  }
}

.welcome-page-button-hollow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 377px;
  height: 58px;
  border-radius: 48px;
  padding: 17px 30px 19px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: transparent;
  &:hover {
    border: 2px solid #ffffff;
  }
  &:active {
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
  }
  & a {
    text-decoration: none;
    color: inherit;
  }
}

.welcome-page-button-with-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.welcome-page-button-download-text {
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .welcome-page-button,
  .welcome-page-button-hollow {
    width: 100%;
    margin: 0 auto;
  }
}

.brave-icon {
  background: url("../images/brave_icon.svg") no-repeat;
  background-size: 22px 22px;
  width: 26px;
  height: 22px;
  display: inline-block;
  margin-right: 12px;
}

.download-brave {
  flex-direction: column;
  align-items: center;
}

.download-brave-text {
  margin: 0 0 14px;
  font-weight: 400;
  font-size: 14px;
  max-width: 377px;
}

.subscribe {
  margin-top: 16px;
  min-height: calc(167px + 36px);
}

.subscribe-text {
  padding-top: 34px;
  margin-bottom: 18px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.subscribe-light {
  font-weight: normal;
}

.subscribe-login {
  margin-top: 16px;
  font-size: 14px;
}

.subscribe-login a {
  text-decoration: underline;
  color: inherit;
}

.subscribe-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.welcome-watermark {
  display: block;
  position: absolute;
  background: url("../images/brave_logo_dark.svg");
  width: 131px;
  height: 40px;
  top: 24px;
  left: 24px;
  outline: none;
}

.welcome-watermark a {
  display: block;
}

.welcome-my-account {
  display: block;
  position: absolute;
  right: 24px;
  top: 29px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.opt-in {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(33, 37, 41, 0.32);
  backdrop-filter: blur(16px);
  color: #212529;
  display: flex;
  padding: 16px;
}

.opt-in-panel {
  max-width: 790px;
  max-height: 95%;
  display: flex;
  flex-direction: column;
  margin: auto auto;

  background: linear-gradient(
      139.76deg,
      rgba(255, 255, 255, 0.5) 71.26%,
      rgba(76, 84, 210, 0.0001) 115.29%
    ),
    #ffffff;
  box-shadow: 0px 0px 16px rgba(12, 13, 33, 0.35);
  border-radius: 16px;
  padding: 16px;
  overflow-y: scroll;
}

.opt-in-close {
  position: absolute;
  background: url("../images/close.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
  border-radius: 20px;
  align-self: flex-end;
  width: 40px;
  height: 40px;
  &:hover {
    background-color: rgba(160, 165, 235, 0.16);
  }
}

.opt-in-title {
  margin: 38px 0 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.02em;
}

.opt-in-description {
  margin: 16px 0 16px;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  max-width: 600px;
  align-self: center;
}

.opt-in-description-sub {
  margin: 0 0 24px;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  max-width: 600px;
  align-self: center;
  font-style: italic;
}

.opt-in-steps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.opt-in-step {
  background: #f0f2ff;
  border-radius: 24px;
  margin: 8px;
  flex-basis: 50%;
  padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}

.opt-in-step-header {
  display: flex;
  text-align: left;
}

.opt-in-step-header-num {
  font-weight: 700;
  margin: 0 12px;
}

.opt-in-step-1-screenshot {
  --step-1-size: 200px;
  background-image: url("../images/opt_in_step_1.svg");
  background-size: var(--step-1-size) var(--step-1-size);
  height: var(--step-1-size);
  width: var(--step-1-size);
  margin: 0 auto;
  flex-grow: 0;
}

.opt-in-step-2-screenshot {
  --step-2-height: 200px;
  --step-2-width: 323px;
  background-image: url("../images/opt_in_step_2.svg");
  background-size: var(--step-2-width) var(--step-2-height);
  height: var(--step-2-height);
  width: var(--step-2-width);
  margin: 0 auto;
}

@media only screen and (max-width: 667px) {
  .opt-in-steps {
    flex-wrap: wrap;
  }
}

.desktop-needed-info {
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

.desktop-needed-cta {
  font-weight: 600;
  font-size: 14px;
  margin-top: 16px;
}

.spinner {
  background-image: url("../images/spinner.svg");
  background-size: 22px 22px;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 12px;
}

@media (prefers-color-scheme: dark) {
  .opt-in-panel {
    background: #17171f;
    color: #f0f2ff;
  }

  .opt-in-step {
    background: #1e2029;
    color: #f0f2ff;
  }

  .opt-in-close {
    filter: brightness(2);
  }
}

/* default visibility states of elements we set in code */
#download_brave,
#subscribe,
#my_account_link,
#opt_in,
#desktop_needed,
#enter_1on1_button,
#enter_room_button,
#meet {
  display: none;
}
