name: Deploy to Development
on:
  push:
    branches: [dev]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read # This is required for actions/checkout

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0
      - name: Build
        uses: ./.github/actions/build
        with:
          environment: development

  deploy:
    runs-on: ubuntu-latest
    needs: build

    environment:
      name: development
      url: https://talk.brave.software

    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0

      - name: Configure aws credentials
        uses: aws-actions/configure-aws-credentials@010d0da01d0b5a38af31e9c3470dbfdabdecca3a # v4.0.1
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          role-session-name: github-actions-talk-brave-com-${{ github.run_id }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Deploy
        uses: ./.github/actions/deploy
        env:
          AWS_REGION: ${{ vars.AWS_REGION }}
        with:
          cloudfront-distribution-id: ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }}
          s3-bucket: ${{ secrets.S3_BUCKET }}
